.styling {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    margin-top: -100px;
    margin-left: -540px;
  }
  
  .styling h1 {
    color: orange;
    font-size: 50px;
    padding-bottom: 30px;
  }
  
  .desc {
    font-size: 30px;
    padding-bottom: 30px;
  }
  
  @media (max-width: 768px) {
    .styling {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      color: white;
      margin-top: -60px;
      margin-left: 0px;
      padding-left: 30px;
    }

    .styling h1 {
      font-size: 25px;
    }

    .hello {
      font-size: 12px;
      color:yellow;
    }
    
    .desc {
      font-size: 12px;
      color:red;
    }
  }