.styling{
    padding-left: 100px;
    padding-bottom: 220px;
    padding-top: 180px;
    color: white;
}

.add-gap{
    padding-bottom: 30px;
    font-size: 30px;
}

.add-gap-heading{
    color: orange;
    padding-bottom: 30px;
    font-size: 50px;
}