.styling-contact {    
    color: white;
    font-size: 40px;
    margin-top: -180px;
  }
  
  @media (max-width: 768px) {
    .styling-contact {
      font-size: 20px;
      text-align: center;
      margin-top: -80px;
    }
  }