.tech-card {
    width: 100px;
    height: 100px;    
    margin: 40px;
    border-radius: 50%;
}

.tech-img {
    height: 100%;
    width: 100%;
    object-fit: 100%;
}

.tech-card:hover {
    border: 2px solid goldenrod; /* add your desired border properties */
  }

@media (max-width: 768px) {
    .tech-card {
        width: 60px;  
        height: 60px;  
        margin: 20px;
    }
  }
    