.App {
  
    position: fixed;
    background-image: url('https://res.cloudinary.com/db9tsiti3/image/upload/v1681198734/bggggg-3_p8idgg.png');
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  

